﻿@model MvcApplication.Models.RestaurantEditViewModel
@{
    ViewBag.Title = "Index";
}

<h2> @Html.DisplayFor(x => x.Title)</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <table>
        <tr>
            <td>
                @Html.LabelFor(x => x.Title)
                </td>
            <td>@Html.TextBox("Title", Model.Title)</td>
        </tr>
        <tr>
            <td>Phone number</td>
            <td>@Html.TextBox("PhoneNumberText", Model.PhoneNumberText)</td>
        </tr>
    </table>

    <input type="submit" value="Save" />
    
    <div class="message-success">@ViewBag.Message</div>
}